In [123]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

import sqlalchemy

In [124]:
# df = pd.read_csv('Resources/RDC_InventoryCoreMetrics_Zip_Hist.csv')
zip_df = pd.read_csv('https://s3-us-west-2.amazonaws.com/econresearch/Reports/Core/RDC_InventoryCoreMetrics_Zip_Hist.csv')

/anaconda3/envs/tuesday_pandas/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [125]:
zip_df.head()

,Month,ZipCode,ZipName,Footnote,Median Listing Price,Median Listing Price M/M,Median Listing Price Y/Y,Active Listing Count,Active Listing Count M/M,Active Listing Count Y/Y,...,Pending Listing Count Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y,Total Listing Count,Total Listing Count M/M,Total Listing Count Y/Y,Pending Ratio,Pending Ratio M/M,Pending Ratio Y/Y
0,2019-04-01 00:00:00,1001.0,"Agawam, MA",NaN,213700.0,0.0739,-0.0904,43.5,-0.0543,-0.2627,...,0.0000,255251.0,0.0661,-0.0602,44.5,-0.0532,-0.2583,0.0230,0.0012,0.0060
1,2019-04-01 00:00:00,1002.0,"Amherst, MA",NaN,499050.0,0.0398,0.1607,70.5,0.1190,-0.2079,...,NaN,513276.0,0.0052,0.0733,70.5,0.1190,-0.2079,0.0000,0.0000,0.0000
2,2019-04-01 00:00:00,1005.0,"Barre, MA",*,301275.0,-0.0024,NaN,17.0,0.2143,0.1333,...,NaN,384204.0,0.0095,0.4213,17.0,0.2143,0.1333,0.0000,0.0000,0.0000
3,2019-04-01 00:00:00,1007.0,"Belchertown, MA",*,369950.0,0.0291,NaN,51.5,0.0300,-0.3041,...,NaN,356476.0,0.0558,0.0738,51.5,0.0300,-0.3041,0.0000,0.0000,0.0000
4,2019-04-01 00:00:00,1008.0,"Blandford, MA",NaN,181950.0,-0.1915,-0.2159,6.5,-0.0714,0.0833,...,-0.3333,186755.0,-0.2250,-0.2975,8.5,0.0625,-0.0556,0.3077,0.1648,-0.1923

In [24]:
state_df = pd.read_csv('https://s3-us-west-2.amazonaws.com/econresearch/Reports/Core/RDC_InventoryCoreMetrics_State_Hist.csv')

In [72]:
state_df.head()

,Month,StateID,State,Median Listing Price,Median Listing Price M/M,Median Listing Price Y/Y,Active Listing Count,Active Listing Count M/M,Active Listing Count Y/Y,Days on Market,...,Pending Listing Count Y/Y,Median List Price Per Sqft,Median List Price Per Sqft M/M,Median List Price Per Sqft Y/Y,Median Listing Sqft,Median Listing Sqft M/M,Median Listing Sqft Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y
0,2019-04-01,AK,Alaska,295700,0.0200,0.0375,3072,0.0847,-0.0065,64,...,NaN,168,-0.0068,0.0139,1755,0.0229,0.0041,328600,0.0034,0.0083
1,2019-04-01,AL,Alabama,229900,0.0222,0.0953,26217,0.0403,-0.0498,74,...,2.9333,108,0.0172,0.0705,2000,0.0070,0.0116,302400,0.0261,0.0925
2,2019-04-01,AR,Arkansas,185000,0.0165,0.0335,16528,0.0192,-0.0101,79,...,0.0028,99,0.0051,0.0296,1959,0.0098,0.0177,252000,0.0194,0.0396
3,2019-04-01,AZ,Arizona,338900,0.0270,0.0431,32983,0.0141,0.0348,51,...,2.2020,170,0.0069,0.0552,2053,0.0081,-0.0099,520100,0.0138,0.0283
4,2019-04-01,CA,California,559900,0.0182,0.0465,91889,0.0505,0.1600,42,...,0.4379,316,0.0130,0.0709,1830,0.0167,-0.0151,1001600,0.0015,0.0065

In [20]:
zip_df.columns

Index(['Month', 'ZipCode', 'ZipName', 'Footnote', 'Median Listing Price',
       'Median Listing Price M/M', 'Median Listing Price Y/Y',
       'Active Listing Count ', 'Active Listing Count M/M',
       'Active Listing Count Y/Y', 'Days on Market ', 'Days on Market M/M',
       'Days on Market Y/Y', 'New Listing Count ', 'New Listing Count M/M',
       'New Listing Count Y/Y', 'Price Increase Count ',
       'Price Increase Count M/M', 'Price Increase Count Y/Y',
       'Price Decrease Count ', 'Price Decrease Count M/M',
       'Price Decrease Count Y/Y', 'Pending Listing Count ',
       'Pending Listing Count M/M', 'Pending Listing Count Y/Y',
       'Avg Listing Price', 'Avg Listing Price M/M', 'Avg Listing Price Y/Y',
       'Total Listing Count', 'Total Listing Count M/M',
       'Total Listing Count Y/Y', 'Pending Ratio', 'Pending Ratio M/M',
       'Pending Ratio Y/Y'],
      dtype='object')

In [233]:
new_zip_df = zip_df[["Month",
             "ZipCode",
             "ZipName",
             "Median Listing Price",
             "Active Listing Count ",
             "Days on Market ",
             "New Listing Count ",
             "Price Increase Count ",
             "Price Decrease Count ",
            "Total Listing Count",
            "Avg Listing Price"]]

In [234]:
def renameColumn(name):
    name = name.lower()
    if name[-1] == " ":
        name = name[:-1]
    name = name.replace(" ", "_")
    return name

In [235]:
new_zip_df.columns = [renameColumn(col_name) for col_name in new_zip_df.columns]
new_zip_df = new_zip_df[:-1]
new_zip_df = new_zip_df.rename(columns={'month':'date'})
# new_zip_df['date'] = new_zip_df['date'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
# new_zip_df['year_month'] = new_zip_df['date'].apply(lambda x: f"{x.year}/{x.month}")

In [236]:
new_zip_df['date'] = new_zip_df['date'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
new_zip_df['year_month'] = new_zip_df['date'].apply(lambda x: f"{x.year}/{x.month}")

In [237]:
# new_zip_df["month"] = new_zip_df["date"].apply(lambda x: f"{x.month}")
# new_zip_df["year"] = new_zip_df["date"].apply(lambda x: f"{x.year}")

In [238]:
new_zip_df["city"] = new_zip_df["zipname"].apply(lambda x: x.split(",")[0])
new_zip_df["state"] = new_zip_df["zipname"].apply(lambda x: x.split(",")[1][1:])

In [239]:
new_zip_df.columns

Index(['date', 'zipcode', 'zipname', 'median_listing_price',
       'active_listing_count', 'days_on_market', 'new_listing_count',
       'price_increase_count', 'price_decrease_count', 'total_listing_count',
       'avg_listing_price', 'year_month', 'city', 'state'],
      dtype='object')

In [240]:
new_zip_df = new_zip_df[["year_month",
    "zipcode",
    "city",
    "state",
    "median_listing_price",
    "avg_listing_price",
    "price_increase_count",
    "price_decrease_count",             
    "new_listing_count",
    "total_listing_count",
    "days_on_market",
    ]]

In [241]:
def formatZip(zipcode):
    zipcode = str(int(zipcode))
    if len(zipcode) == 4:
        zipcode = "0"+zipcode
    return zipcode

In [242]:
new_zip_df.zipcode = new_zip_df.zipcode.map(lambda x: formatZip(x))

In [243]:
new_zip_df.head()

,year_month,zipcode,city,state,median_listing_price,avg_listing_price,price_increase_count,price_decrease_count,new_listing_count,total_listing_count,days_on_market
0,2019/4,01001,Agawam,MA,213700.0,255251.0,0.0,12.0,26.0,44.5,49.50
1,2019/4,01002,Amherst,MA,499050.0,513276.0,0.0,8.0,18.0,70.5,43.00
2,2019/4,01005,Barre,MA,301275.0,384204.0,0.0,4.0,6.0,17.0,45.75
3,2019/4,01007,Belchertown,MA,369950.0,356476.0,0.0,8.0,22.0,51.5,47.50
4,2019/4,01008,Blandford,MA,181950.0,186755.0,0.0,2.0,2.0,8.5,34.25

In [244]:
new_zip_df.dtypes

year_month               object
zipcode                  object
city                     object
state                    object
median_listing_price    float64
avg_listing_price       float64
price_increase_count    float64
price_decrease_count    float64
new_listing_count       float64
total_listing_count     float64
days_on_market          float64
dtype: object

In [245]:
new_zip_df = new_zip_df.fillna(0)

In [246]:
print(new_zip_df.price_increase_count.dtype)

float64

In [247]:
for col_name in new_zip_df.columns:
    if new_zip_df[col_name].dtype == "float64":
        new_zip_df[col_name] = new_zip_df[col_name].astype("int")

In [248]:
new_zip_df.dtypes

year_month              object
zipcode                 object
city                    object
state                   object
median_listing_price     int64
avg_listing_price        int64
price_increase_count     int64
price_decrease_count     int64
new_listing_count        int64
total_listing_count      int64
days_on_market           int64
dtype: object

In [3]:
# con = sqlite3.connect("data/real_estate_data.sqlite")

In [24]:
# clean_df.to_sql("shorter_data", con, if_exists="replace")